<div style="text-align:right">DMDD Final Project - Indoors Navigation</div>
<div style="text-align:right">Zixiao 20200325</div>

# Database data insertion test

In [13]:
import pandas as pd
%load_ext sql
%sql mysql+pymysql://root:fjwwzx970814@localhost/mydb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@mydb'

In [16]:
%%sql
show tables

 * mysql+pymysql://root:***@localhost/mydb
   mysql+pymysql://root:***@localhost/mysql
15 rows affected.

[('adminUser',),
 ('bluetoothBeacon(real-time udpate)',),
 ('building',),
 ('checkPoint',),
 ('device',),
 ('floor',),
 ('floorMap',),
 ('location',),
 ('navigationRequest',),
 ('normalUser',),
 ('originalFloorMap',),
 ('path',),
 ('paths',),
 ('position',),
 ('requestComplete',)]

## Database ERD

![](../20200324_ERD.png)

## Building structure data insertion

In [2]:
import sqlalchemy as sqlManager

In [21]:
# Create connection with database
connection = sqlManager.create_engine('mysql+pymysql://root:fjwwzx970814@localhost:3306/mydb?charset=utf8')

## Generate simulation data

In [22]:
# Generate building data
building = pd.DataFrame([
    [1,'building_1','address_1'],
    [2,'building_2','address_2'],
],columns=['idbuilding','name','address'])
building

   idbuilding        name    address
0           1  building_1  address_1
1           2  building_2  address_2

In [26]:
# Insert data into database
pd.io.sql.to_sql(building,'building',connection,schema='mydb',if_exists='append',index=False)

In [46]:
%%sql
select * from building

 * mysql+pymysql://root:***@localhost/mydb
   mysql+pymysql://root:***@localhost/mysql
0 rows affected.

[]

In [31]:
# Generate floor data for each building
floor = pd.DataFrame([
    # 2 floors for building_1
    [1,'floor_1',1],
    [2,'floor_2',1],
    # 3 floors for building_2
    [3,'floor_1',2],
    [4,'floor_2',2],
    [5,'floor_3',2]
],columns=['idfloor','description','idbuilding'])
floor

   idfloor description  idbuilding
0        1     floor_1           1
1        2     floor_2           1
2        3     floor_1           2
3        4     floor_2           2
4        5     floor_3           2

In [32]:
# Insert data into database
pd.io.sql.to_sql(floor,'floor',connection,schema='mydb',if_exists='append',index=False)

In [33]:
%%sql
select * from floor

 * mysql+pymysql://root:***@localhost/mydb
   mysql+pymysql://root:***@localhost/mysql
5 rows affected.

[(1, 'floor_1', 1),
 (2, 'floor_2', 1),
 (3, 'floor_1', 2),
 (4, 'floor_2', 2),
 (5, 'floor_3', 2)]

In [44]:
%%sql
select * from floor f
inner join building b
on b.idbuilding = f.idbuilding

 * mysql+pymysql://root:***@localhost/mydb
   mysql+pymysql://root:***@localhost/mysql
0 rows affected.

[]

## Delete all simulation data

In [45]:
%%sql
delete from floor;
delete from building;

 * mysql+pymysql://root:***@localhost/mydb
   mysql+pymysql://root:***@localhost/mysql
0 rows affected.
2 rows affected.

[]