<div style='text-align:right;'>DMDD final project map pre-process and import</div>
<div style='text-align:right;'>Zixiao 20200403</div>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
# import the magic code for using sql in jupyter notebook
%load_ext sql
# local database
# %sql mysql+pymysql://root:fjwwzx970814@localhost/mydb
# remote database
%sql mysql+pymysql://brickea_mac:fjwWZX970814@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb

'Connected: brickea_mac@mydb'

In [2]:
import sqlalchemy as sqlManager

In [3]:
# Create connection with database
connection = sqlManager.create_engine('mysql+pymysql://brickea_mac:fjwWZX970814@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb?charset=utf8')

# Map Extraction and Import

## Building Information

In [4]:
%%sql
# Create view to check the building information
DROP VIEW IF EXISTS view_buildings;
CREATE VIEW view_buildings AS
SELECT * FROM building

 * mysql+pymysql://brickea_mac:***@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql
# Check the building information
SELECT * FROM view_buildings

 * mysql+pymysql://brickea_mac:***@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb
(pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond)')
[SQL: # Check the building information
SELECT * FROM view_buildings]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [6]:
%%sql
# Insert simulated building Corporate
# 360 Huntington Ave, Boston, MA 02115
# Simulated building in Northeastern University
INSERT INTO building (name,address,description) VALUES ('Corporate','360 Huntington Ave, Boston, MA 02115','Simulated building in Northeastern University')

 * mysql+pymysql://brickea_mac:***@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb
1 rows affected.

[]

In [7]:
%%sql
SELECT * FROM view_buildings

 * mysql+pymysql://brickea_mac:***@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb
3 rows affected.

[(1, 'building_1', 'address_1', 'description'),
 (2, 'building_2', 'address_2', 'description'),
 (3, 'Corporate', '360 Huntington Ave, Boston, MA 02115', 'Simulated building in Northeastern University')]

## Floor Map

In [77]:
%%sql
#INSERT INTO floorMap (idfloorMap,idbuilding,floorNumber,excelMap,ifupdate)
# Create procedure to insert the floorMap data
# If the floor already exist, update the 'ifupdate' as ture
DROP PROCEDURE IF EXISTS add_floorMap_data;
CREATE PROCEDURE add_floorMap_data(IN buildingName varchar(45),IN floorNumber INT, IN excelPath BLOB, OUT idbuilding INT)
BEGIN
    SELECT b.idbuilding INTO idbuilding
    FROM building b
    WHERE b.name = buildingName;
    IF idbuilding IS NULL
    THEN # if the building is not exist
    SELECT 'No building found' as idbuilding;
    ELSE # the building is exist
    SELECT idbuilding as idbuilding;
    END IF;
END;

 * mysql+pymysql://brickea_mac:***@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb
0 rows affected.
0 rows affected.

[]

In [82]:
%%sql
# Test add_floorMap_data
CALL add_floorMap_data('Corporate',1,'file_path',@idbuilding);

 * mysql+pymysql://brickea_mac:***@rm-0xih4pk94w41k3c5j8o.mysql.rds.aliyuncs.com/mydb
1 rows affected.

[(3,)]